/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   #wrapper{
	 height: 3100px;
	 width: 1400px;
	 margin-left: auto;
     margin-right: auto;
   }

	#header{
	  height: 84px;
	  width: 1400px;
	  background-color: #ffffff;
	  
	}
	
	#menu{
	  height: 49px;
	  width: 1400px;
	  background-color: #3f8352;
	  margin: 0; 
      text-align: center;
	  display: table;
	  font-size: 20px;
	  font-family:"Segoe UI";
	  letter-spacing: 2px;
	  
	}
	
	#content{
	  height: 1268px;
	  width: 1400px;
	  background-color: #ffffff;
	  color: #5e5e5e;
	  font-weight: 200;
	  
	}
	
	#contenthead{
	color: #5e5e5e;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	}
	
	
	#heating{
	  height:  402px;
	  width:  1400px;
	  background-color: #eef1f6;
	  text-align:center
	  
	}
	
	#heatpara{
	  font-family:"Segoe UI";
	  width: 920px;
	  margin-left: auto;
	  margin-right: auto;
	  text-align:center
	
	}
	
	#coolpara{
	  font-family:"Segoe UI";
	  width: 920px;
	  margin-left: auto;
	  margin-right: auto;
	  text-align:center
	}
	
	#aboutpara{
	  font-family:"Segoe UI";
	  width: 920px;
	  margin-left: auto;
	  margin-right: auto;
	  text-align:center
	}

	#cooling{
	  height:  402px;
	  width:  1400px;
	  background-color: #ffffff;
	  text-align:center

	}
	
	#about{
	  height:  888px;
	  width:  1400px;
	  background-color: #eef1f6;
	  text-align:center;

	}
	
	#menu ul {
	  text-align: center;
	  display: table;
	  margin-left:auto;
	  margin-right:auto;
    }
	
	#menu a {
	  text-decoration: none;
	  display:block;
	  color: white;
	  padding:0 30px;
	}
	
	#menu li {
      display: inline;
	  float: left;
	}

	#about h2{
	  color: black;
	  letter-spacing: 6px;
	  font-size: 200%;
	  font-weight: 200;
	  position: relative;
	  bottom: -20px;
	}
	
	#cooling h2{
	  color: #267fb9;
	  letter-spacing: 6px;
	  font-size: 200%;
	  font-weight: 200;
	  position: relative;
	  bottom: -20px;
	}
	
	#heating h2{
	  color: #c0382a;
	  letter-spacing: 6px;
	  font-size: 200%;
	  font-weight: 200;
	  position: relative;
	  bottom: -20px;
	}

	#h2{
	  font-size: 250%;
	}

	#logo{
	  position: relative;
      left: 220px;
	  height: 100px;
	  width: 300px;
	}
	
	#bbb{
	  position: relative;
      left: 800px;
	  bottom: 65px;
	  height: 100px;
	  width: 100px;
	}
	
	#faceb{
	  position: relative;
      left: 1200px;
	  bottom: 160px;
	  height: 100px;
	  width: 100px;
	}

	#lcontent{
	  float:left;
	  width: 510px;
	  height: 140px;
	  border: 1px solid blue;
	  position: relative;
	  left: 209px;
	  font-size: 13px;
	  font-weight: 100;
	  line-height: 150%;
	  text-align: left;
	}
	
	#rcontent{
	  float: right;
	  height: 140px;
	  border: 1px solid green;
	  position: relative;
	  right: 209px;
	  font-size: 13px;
	  font-weight: 200;
	  line-height: 150%;
	  text-align: left;
	}
	
	#fbanner{
	  width: 980px;
	  height: 50px;
	  background-image: url('../img/banner.jpg');
	  background-repeat: repeat-x;
	  margin-left: auto;
	  margin-right: auto;
	  border-radius: 5px;
	  color: white;
	  padding: 1px;
	}
	
	#fblogo1{
	  position: absolute;
	  right: 0px;
	  left: 510px;
	  bottom: 315px;
	  height: 100px;
	  width: 100px;
	}
	
	#fblogo2{
	  position: absolute;
	  right: 0px;
	  left: 1276px;
	  top: 570px;
	  height: 100px;
	  width: 100px;
	  
	}
	
	#fbanner p{
	  color: white;
	}
	
	#endimg{
	  position: relative;
	  bottom: -20px;
	  right: 50px;
	
	}
	
	#table2{
    /* Safari */
    -webkit-transform: rotate(-90deg);
    
    /* Firefox */
    -moz-transform: rotate(-90deg);
    
    /* IE */
    -ms-transform: rotate(-90deg);
    
    /* Opera */
    -o-transform: rotate(-90deg);
	}

	#block1{
	  float: left;
	  background-color: #c1392b;
	  color: #FFFFFF;
	  border: 1px solid red;
	  height: 24px;
	  width: 171px;
	  size: 11px;
	}

	#block2{
	  float: right;
	  background-color: #2a80b9;
	  color: #FFFFFF;
	  border: 1px solid blue;
	  height: 24px;
	  width: 300px;
	  size: 11px;
	}


	#table2{
		position: absolute;
		width: 483px;
		float: left;
		line-height: 10%;
		left:-256px;
		bottom:242px;
	}

	#table1{
	float: right;
	}
	
	#table1 td{
		background-color: #f7f7f7;
		width: 314px;
		height:40px;
		color: #787878;
		text-align: left;
	}

	#table1 th{
		 background-color: #7e8c8d;
		  width: 314px;
		 height: 64px; 
		 color: white;

	}
	
	#tabletable{
	  border: 1px solid red;
	  width: 950px;
	  height: 483px;
	  position: absolute;
	  float: right;
	  top: 820px;
	  left: 474px;
	  
	}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
